@model IEnumerable<MagicMVC.Models.Order>
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Order History";
}

<script src="/js/angular.min.js"></script>

<div ng-app="MagicMVC" ng-controller="purchasesCtrl">
    <h2>Order History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Order ID</th>
                <th>Total</th>
            </tr>
        <thead>
        <tbody>
            <tr ng-repeat="x in purchases">
                <td>{{ x.Date | date:"dd/MM/yyyy" }}</td>
                <td>{{ x.OrderID }}</td>
                <td>{{ x.Product.Price | currency }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module("MagicMVC", []);
    app.value("purchases",@Html.Raw(JsonConvert.SerializeObject(Model)));
    app.controller("purchasesCtrl", ["$scope", "purchases", function ($scope, purchases) {
        $scope.purchases = purchases;
    }]);
</script>

