@model IEnumerable<MagicMVC.Models.Purchase>
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Order History";
}

<script src="/js/angular.min.js"></script>

<div ng-app="MagicMVC" ng-controller="purchasesCtrl">
    <h2>Order History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Purchase ID</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        <thead>
        <tbody>
            <tr ng-repeat="x in purchases">
                <td>{{ x.DateOfPurchase | date:"dd/MM/yyyy" }}</td>
                <td>{{ x.PurchaseID }}</td>
                <td>{{ x.ProductID }}</td>
                <td>{{ x.Product.Name }}</td>
                <td>{{ x.Product.Price | currency }}</td>
                <td>{{ x.QuantityToPurchase }}</td>
                <td>{{ x.SubTotal | currency }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module("MagicMVC", []);
    app.value("purchases",@Html.Raw(JsonConvert.SerializeObject(Model)));
    app.controller("purchasesCtrl", ["$scope", "purchases", function ($scope, purchases) {
        $scope.purchases = purchases;
    }]);
</script>

