@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Magic Way<br />
    Melbourne, VIC<br />
    <abbr title="Phone">P:</abbr>
    9999-9999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:MagicSupport@example.com">MagicSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MagicMarketing@example.com">MagicMarketing@example.com</a>
</address>
